@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.bodybg /* classe che ha le proprieta del body */
{
 /*   -fx-background-image: url("../../Game/Environment/TavoloGioco.png"); */
    -fx-background-color:  #639BFF;
    -fx-background-size: 100% 100%;
}

.riempiTab
{

    -fx-background-color:  #00AFF2;
    -fx-text-fill: #fff;
    -fx-font-family: 'Press Start 2P', sans-serif;
    -fx-font-size: 13;
}

.button
{
    -fx-font-weight: bold;
    -fx-background-color: #356BAD;
    -fx-background-radius: 22;
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.SpaccaTitolo{
   -fx-font-size: 80;
   -fx-text-fill: black;

}

.FxTitolo{
   -fx-font-size: 80;
   -fx-text-fill: red;

}

.AlertRosso{
    -fx-font-size: 30;
    -fx-text-fill: red;

}

.AlertArancio{
    -fx-font-size: 30;
    -fx-text-fill: orange;

}

.AlertBlu{
    -fx-font-size: 30;
    -fx-text-fill: blue;

}

.EffettoCarta{
    -fx-font-size: 55;
    -fx-text-fill: #00ccff;

}

.Label{
   -fx-text-fill: black;
   -fx-font-size: 20;

}


.Label15{
    -fx-text-fill: black;
    -fx-font-size: 15;

}


.LabelWhite{
   -fx-text-fill: white;
  -fx-font-family: 'Press Start 2P', sans-serif;
   -fx-font-size: 18;

}

.LabelWhite15{
    -fx-text-fill: white;
    -fx-font-family: 'Press Start 2P', sans-serif;
    -fx-font-size: 15;
}

.LabelHeaderWhite30{
    -fx-text-fill: white;
    -fx-font-family: 'Press Start 2P', sans-serif;
    -fx-font-size: 30;
}

.LabelWhite13{
    -fx-text-fill: white;
    -fx-font-family: 'Press Start 2P', sans-serif;
    -fx-font-size: 13;
}

.LabelBlack13{
    -fx-text-fill: black;
    -fx-font-family: 'Press Start 2P', sans-serif;
    -fx-font-size: 13;
}


.LabelWhiteError{
    -fx-text-fill: white;
    -fx-font-family: 'Press Start 2P', sans-serif;
    -fx-font-size: 10;

}


.button:hover
{
   -fx-font-weight: bold;
   -fx-background-color: white;
   -fx-background-radius: 22;
   -fx-font-size: 20;
   -fx-text-fill: #639BFF;
   -fx-border-color:  #639BFF;
   -fx-border-radius: 20;
   -fx-border-width: 3;
}

.buttonUnisciti:hover
{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22;
    -fx-font-size: 15;
    -fx-text-fill: #639BFF;
    -fx-border-color:  #639BFF;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

.buttonLead:hover
{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-radius: 22;
    -fx-font-size: 10;
    -fx-text-fill: #639BFF;
    -fx-border-color:  #639BFF;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}

.button:pressed
{
   -fx-font-weight: bold;
   -fx-background-color: white;
   -fx-background-radius: 22;
   -fx-font-size: 16;
   -fx-text-fill: #639BFF;
   -fx-border-color:  #639BFF;
   -fx-border-radius: 20;
   -fx-border-width: 3;
   -fx-rotate: 10;
}

.text {
    -fx-font-family: 'Press Start 2P', sans-serif;
}


.root
{
     -fx-font-family: 'Press Start 2P', sans-serif;
    /*-fx-padding: 10;  Aggiunge uno spazio di 10 pixel tra il bordo e il contenuto */
    /* -fx-border-color: #453A2c;  Colore del bordo
    -fx-border-width: 15; /* Larghezza del bordo
    -fx-border-style: solid; /* Stile del bordo (solido)
    -fx-background-radius: 20 0 0 0;
*/
}


@font-face {
    -fx-font-family: 'Press Start 2P', sans-serif;
}


/* Imposta il colore di sfondo dell'AnchorPane su verde */
.anchor-pane {
    -fx-background-color: #00AFF2;
}

.sfondo1{
       -fx-background-image: url("../../../resources/Assets/Game/Environment/splash22.png");
}
.sfondo2{
    -fx-background-image: url("../../../resources/Assets/Game/Environment/bb.png");
}

.sfondo3{
    -fx-background-image: url("UI/SelectionMenuAdmin.png");
}

.mainMenuSfondo1
{
  -fx-background-size: 100% 100%;
  -fx-background-image: url("../../../resources/Assets/Game/Environment/mainMenuGif.gif");
}

.deleteWallpaper
{
  -fx-background-size: 100% 100%;
  -fx-background-image: url("UI/deleteWallpaper.jpg");
}

.mainMenuSfondo2
{
  -fx-background-image: url("UI/mainMenuGif2.gif");
}

.tutorialSfondo3
{
    -fx-background-image: url("UI/sfondopescatore.gif");
    -fx-background-size: cover; /* o contain, a seconda delle tue esigenze */
    -fx-background-repeat: no-repeat;
}

.gameSfondo
{
  -fx-background-size: 100% 100%;
  -fx-background-image: url("UI/gamewallpaper.gif");
}

.tutorialSfondo
{
    -fx-background-size: 100% 100%;
    -fx-background-image: url("UI/bb.png");
}

.line-color
{
  -fx-background-color: #356BAD;
}
